<div>
    <ul class="d-flex align-items-center justify-content-center p-4">
        <li class="p-4" style="list-style : none"><a href="/">Home</a></li>
        <li class="p-4" style="list-style : none"><a href="/projects">Projects</a></li>
        <li class="p-4" style="list-style : none"><a href="/contact">Contact</a></li>
    </ul>
</div>